body {
    background: rgb(151, 158, 151);
    text-align: center;
}
.btn {
    border-radius: 10px;
    border-right-width: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.rules {
    list-style: none;
}
.list {
    font-size: 19px;
}
.forms {
    font-family: 'Merriweather', serif;
}
.form {
    margin-top: 10px;
}
#output {
    font-size: 15px;
    color: red;
}